:root.theme-dark {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --button-color: #FF0070;
  --heading-color: #FF0070;
  --highlighted-heading-color: #000028;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
}

.header__dark-theme-decoration {
  position: absolute;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--decor-color);
}

.header__dark-theme-decoration::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: radial-gradient(circle, var(--decor-color) 0%, transparent);
  border-radius: 50%;
}


