/* Переменнные светлой темы */
:root.theme-light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --button-color: #353430;
  --heading-color: #353430;
  --highlighted-heading-color: #353430;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

/* Декоративный  элемент шапки */
.theme-light .header__dark-theme-decoration,
.theme-light .header__dark-theme-decoration::after {
  display: none;
}

/* Адаптивность под ОС */
@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --button-color: #353430;
    --heading-color: #353430;
    --highlighted-heading-color: #353430;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme-light .header__dark-theme-decoration,
  .theme-light .header__dark-theme-decoration::after {
    display: none;
  }

  .theme-auto .header__dark-theme-decoration,
  .theme-auto .header__dark-theme-decoration::after {
    display: none;
  }
}
