/* Переменные основной темы */
:root {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --button-color: #FF0070;
  --heading-color: #FF0070;
  --highlighted-heading-color: #000028;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
}